<footer class="footer">

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3" id="leftCol">
		   </div>
		<div class="col-md-6">
			<ul>
				<li class="footerli"><a href="/">Εταιρία</a></li>
			    <li class="footerli"><%= link_to "Μηχανήματα" ,home_mixanimata_path %></li>
			    <li class="footerli"><%= link_to "Αναλώσημα" ,home_analosima_path %></li>
			    <li class="footerli"><%= link_to "Software" ,home_software_path %></li>
			    <li class="footerli"><%= link_to "Υπηρεσίες" ,home_uphresies_path %></li>
			    <li class="footerli"><%= link_to "Επικοινωνία" ,home_epikoinonia_path %></li>
			    <li class="footerli"><%= link_to "faq" ,home_faq_path %></li>
			</ul>
		</div>
	</div>

    <div class="row">
    	<div class="col-md-3" id="leftCol">
		</div>
		<div class="col-md-6">
			<p>Albatec 2014</p>
		</div>
    </div>

	</div> 



</footer>