<!-- Kathe fora poy eimaste se kathe selida tha mpainei auto panw me ta antistixa pedia stin seira-->
<div id="epanw" class="container-fluid">
  
      <ol class="breadcrumb">
        <li class="active"><%= link_to "Μηχανήματα" ,home_mixanimata_path %></li>
      </ol>
   
</div>
<!-- Telos breadcrumb-->

<div class="container-fluid">
    <div class="row">
        <!--Αρχή αριστερής λίστας που κατεβαίνει-->
        <div class="col-md-3 col-xs-0" id="leftCol">
            <ul class="nav nav-stacked" id="sidebar">
                <li><a href="#sec0" class="1"><span class="glyphicon glyphicon-wrench"></span> Μηχανήματα-Αντιπροσωπείες</a>
                </li>
                <li><a href="#sec1" class="eksw"><span class="glyphicon glyphicon-wrench"></span> Μηχανήματα μεταχειρισμένα<span class="badge pull-right">5</span></a>
                    <ol id="mesa_lista_mixanimata" class="nav">
                        <li><a href="#sec1_1" class="mesa_mixanimata"><span class="glyphicon glyphicon-asterisk"></span>Διπλό δισκοπρίονο κοπής προφίλ αλουμινίου EMMEGI Radial Libra</a></li>
                        <li><a href="#sec1_2" class="mesa_mixanimata"><span class="glyphicon glyphicon-asterisk"></span>Πάγκος Μονταρίσματος μηχανισμού Ruchser</a></li>
                        <li><a href="#sec1_3" class="mesa_mixanimata"><span class="glyphicon glyphicon-asterisk"></span>Συσκευαστικό κουφωμάτων Rotoplat</a></li>
                        <li><a href="#sec1_4" class="mesa_mixanimata"><span class="glyphicon glyphicon-asterisk"></span>Φρέζα ξελουρίσματος -Τ- Αλουμινίου&PVC AF221-00 elumatec</a></li>
                        <li><a href="#sec1_5" class="mesa_mixanimata"><span class="glyphicon glyphicon-asterisk"></span>Εργαλείο καθαρισμού προφίλ PVC ROTOX HAG128</a></li>
                    </ol>
                </li>
                <li><a href="#sec0" class="2"><span class="glyphicon glyphicon-wrench"></span> Ευκαιρίες</a>
                </li>
                <li><a href="#panw" class="3"><span class="glyphicon glyphicon-chevron-up"></span> Επάνω</a>
                </li>
            </ul>

        </div>


        <!--/left-->
        <!--right-->
        <div class="col-md-6">
             <h2 id="sec0" class="">Αντιπροσωπείες</br>
             <small>Μηχανήματα παραγωγής κουφωμάτων PVC και Ξύλου της εταιρίας AFS-Federhenn</small></h2>
             <%= image_tag("federhem_logo.jpg") %></br></br>
             <div class="row">
                <div class="col-md-4">
                    
                </div>
            </div>
            </br>
            <p>Η εταιρία AFS Federhenn Maschinen GmbH είναι κατασκευαστής μηχανημάτων παραγωγής κουφωμάτων. Με εμπειρία 40 χρόνων, η εταιρία διαθέτει στην παγκόσμια αγορά ποιοτικά μηχανήματα υψηλής τεχνολογίας και αξιοπιστίας. Πάγκοι μονταρίσματος απλοί ή αυτόματοποιημένοι, κέντρα κοπής και κατεργασίας, συστήματα οργάνωσης παραγωγής και ειδικές κατασκευές για την γρήγορη και εύκολη μεταφορά των κουφωμάτων μεταξύ των διαφόρων σταδίων παραγωγής. Σε συνεργασία με την γνωστή εταιρία Hollinger Maschinen GmbH προσφέρει επίσης μηχανές συγκόλλησης και καθαρίσματος προφίλ PVC.</br>
            <a href="http://afs-federhenn.de/site_e/index.html" class="" target="_blank"> AFS-Federhenn</a>
            </p>

            <hr class="">

            <h2 id="sec0" class="">Αντιπροσωπείες</br>
             <small>MH-TEC Εργαλεία, βιδωτικά, δράπανα</small></h2>
             <%= image_tag("mh_tec_logo.jpg") %></br></br>
             <div class="row">
                <div class="col-md-4">
                    
                </div>
            </div>
            </br>
            <p>H ΜΗ-ΤΕC, μια από τις μεγαλύτερες εταιρίες κατασκευής βιομηχανικών εργαλείων προσφέρει υψηλής ποιότητας αεροεργαλεία, αεροδράπανα, αυτόματους βιδωτές και λύσεις προσαρμοσμένες στις κατασκευαστικές ανάγκες σας.</br>
            <a href="http://mh-tec.com/pages/en/home.php?lang=EN" class="" target="_blank"> AMH-TEC</a>
            </p>

            <hr class="">

            <h2 id="sec0" class="">Αντιπροσωπείες</br>
             <small>Μηχανήματα για την επεξεργασία προφίλ Αλουμινίου & Ανοξείδωτου</small></h2>
             <%= image_tag("BJM_logo.jpg") %></br></br>
             <div class="row">
                <div class="col-md-4">
                    
                </div>
            </div>
            </br>
            <p>Η Albatec αντιπροσωπεύει τα μηχανήματα της εταιρίας BJM. Η γκάμα καλύπτει όλες τις ανάγκες κατασκευαστικών από μικρά χειροκινητα μέχρι πλήρης αυτοματοποιημένη παραγαγωγή . Προσφέρει προσαρμοσμένες λύσεις στις ανάγκες σας για επεξεργασία προφίλ αλουμινίου & PVC & σίδηρο & ξύλο.</br>
            <a href="http://www.bjm-gmbh.de/" class="" target="_blank"> BJM Maschinen</a>
            </p>

            <hr class="">

            <h2 id="sec1" class="">Μηχανήματα</br>
            <small>Μηχανήματα μεταχειρισμένα</small></h2>
            <hr class="">
            
            <h4 id="sec1_1" class="">Διπλό δισκοπρίονο κοπής προφίλ αλουμινίου EMMEGI Radial Libra</h4>
            <%= image_tag("EMMEGI_Radial_Libra.jpg") %></br></br>
                   <!-- Button trigger modal -->
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                      Περισσότερες φωτογραφίες
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Διπλό δισκοπρίονο κοπής προφίλ αλουμινίου EMMEGI Radial Libra</h4>
                          </div>
                          <div class="modal-body">
                            <%= image_tag("1.jpg", width: "500") %></br></br>
                            <%= image_tag("2.jpg", width: "500") %></br></br>
                            <%= image_tag("3.jpg", width: "500") %></br></br>
                            <%= image_tag("4.jpg", width: "500") %></br></br>
                            <%= image_tag("5.jpg", width: "500") %></br></br>
                            <%= image_tag("6.jpg", width: "500") %></br></br>
                            <%= image_tag("7.jpg", width: "500") %></br></br>
                            <%= image_tag("8.jpg", width: "500") %></br></br>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
            <hr class="">

            <p>Διπλό Δισκοπρίονο Emmegi Radial Libra, Έτος Κατασκευής 1998 </br>
            ΤΕΧΝΙΚΕΣ ΠΡΟΔΙΑΓΡΑΦΕΣ Emmegi Radial Libra</br>
            • 6" LCD οθόνη πληκτρολογίου (graphic monitor)</br> 
            • Δυνατότητα σύνδεσης με εκτυπωτή ετικετών ( connection to industrial label printer) </br>
            • Έλεγχος κεφαλών ηλεκτρονικά, κλίση κεφαλών από -30° to 90°to +30° </br>
            (Electronically controlled positioning of heads, between -30° to 90° to +30°)</br>
            • Μονές κοπές (Execution of single cuts) </br>
            Χαρακτηριστικά : </br>
            • 2 δίσκοι καρβιδίου Διάμετρος 500mm (carbide-tipped 500mm blades) </br>
            • Προστατευτική καλύπτρα κεφαλών για προστασία του χειριστή </br>
            • 2 Οριζόντιες και 2 Κάθετες μόρσες για την συγκράτηση του προφίλ </br>
            • Μετακινούμενη ραουλιέρα </br>
            • Σύστημα ψεκασμού </p>
            
            <hr class="">
            
            <h4 id="sec1_2" class="">Πάγκος Μονταρίσματος μηχανισμού Ruchser</h4>
            <%= image_tag("Ruchser.jpg") %></br></br>
                   <!-- Button trigger modal -->
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#my2Modal">
                      Περισσότερες φωτογραφίες
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="my2Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Πάγκος Μονταρίσματος μηχανισμού Ruchser</h4>
                          </div>
                          <div class="modal-body">
                            <%= image_tag("2_1.jpg", width: "500") %></br></br>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
            <hr class="">

            <p>Πάγκος Μονταρίσματος μηχανισμού Ruchser, αποτελούμενος από:</br>
            1. Σύστημα βιδωτή με αυτόματη τροφοδοσία βιδών</br>
            2. Πρέσακι για κοπή του μηχανισμού</br>
            3. Πνευματική ανάκλιση πάγκου</p>
            
            <hr class="">

            <h4 id="sec1_3" class="">Συσκευαστικό κουφωμάτων Rotoplat</h4>
            <%= image_tag("rotoplat.jpg") %></br></br>
                   <!-- Button trigger modal -->
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#my3Modal">
                      Περισσότερες φωτογραφίες
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="my3Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Συσκευαστικό κουφωμάτων Rotoplat</h4>
                          </div>
                          <div class="modal-body">
                            <%= image_tag("3_1.jpg", width: "500") %></br></br>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
            <hr class="">

            <p>Για τη συσκευασία πρίν την μεταφορά των κουφωμάτων</br>
            Έτος κατασκευής 2008</br>
            Ελάχιστες ώρες παραγωγής</br>
            Ετοιμο για παραγωγή</br>

            </p>
            
            <hr class="">

            <h4 id="sec1_4" class="">Φρέζα ξελουρίσματος -Τ- Αλουμινίου&PVC AF221-00 elumatec</h4>
            <%= image_tag("elumatec.jpg") %></br></br>
                   <!-- Button trigger modal -->
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#my4Modal">
                      Περισσότερες φωτογραφίες
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="my4Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Φρέζα ξελουρίσματος -Τ- Αλουμινίου&PVC AF221-00 elumatec</h4>
                          </div>
                          <div class="modal-body">
                            <%= image_tag("4_1.jpg", width: "500") %></br></br>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
            <hr class="">

            <p>Τερματικό από δεξιά προς αριστερά ρυθμιζόμενο έως 45°</br>
            Διάμετρος φρέζας έως 250 mm max</br>
            Στροφές άξονα φρέζας έως 2.800 1/min</br>
            Χειροκίνητη προώθηση</br>
            Ύψος φρεζαρίσματος 115mm</br>
            Βάθος φρεζαρίσματος 95mm</br>
            Έτος κατασκευής 2006.</br>
            Σε εξαιρετική κατάσταση.</p>
            
            <hr class="">

            <h4 id="sec1_5" class="">Εργαλείο καθαρισμού προφίλ PVC ROTOX HAG128</h4>
            <%= image_tag("rotox.jpg") %></br></br>
                   <!-- Button trigger modal -->
                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#my5Modal">
                      Περισσότερες φωτογραφίες
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="my5Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <h4 class="modal-title" id="myModalLabel">Εργαλείο καθαρισμού προφίλ PVC ROTOX HAG128</h4>
                          </div>
                          <div class="modal-body">
                            <%= image_tag("5_1.jpg", width: "500") %></br></br>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
            <hr class="">

            <p>Εύκολη χειροκίνητη τοποθέτηση του εργαλείου πάνω στη γωνία για τον καθαρισμό της εσωτερικής πλευράς του κουφώματος.</br>
            Απλή χειροκίνητη λειτουργία του εργαλείου μέσω χερουλιού.</br>
            Χρήση για εσωτερικές γωνίες από 21°-60°.</br>
            Υψηλή ποιότητα καθαρισμού για όλους τους τύπους του προφίλ χάρη στα τερματικά που λειτουργούν με ελατήρια.</br>
            Βάρος: 5 Kg</br>
            Άμεσα διαθέσιμο</p>
            
            <hr class="">
             <h4 class=""><a href="/" class="">Eνα λινκ που ισως χρειαστει</a></h4>

            <hr class="">
        </div>

        <%= render 'deksia_mprara' %>
    </div>
    <!--/row-->
    
</div>


<!-- //Script για να εμφανιζω και να κρηβω την πλαγια στηλη στα μηχανιματα -->
<script>

  var a = false;
  $(".mesa_mixanimata").hide();

  //Γινεται πολυ ευκολα με toggle αλλα και ετσι ειναι
  $(document).ready(function(){
  $(".eksw").click(function(){
    if (a === true){
      $(".mesa_mixanimata").show(1000);
      a = false;
    }
    else {
      $(".mesa_mixanimata").show(1000);
      a = true;
    }
  });

  $(".1").click(function(){
    $(".mesa_mixanimata").hide(1000);
    a = false;
  });

  $(".2").click(function(){
    $(".mesa_mixanimata").hide(1000);
    a = false;
  });

  $(".3").click(function(){
    $(".mesa_mixanimata").hide(1000);
    a = false;
  });


});

</script>
<!-- Τελος -->
